@import "a";

$red:#DC3522;
$c:#d9cb9e;
$gray:#374140;
$black:#000;
$font: ProximaNova,
Sans-Serif;
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: $c;
}



//圣杯布局
@for $i from 1 to 7 {
    h#{$i} {
        color: rgba(#fff, 1);
        font-weight: 400;
    }
}

#canvas {
    z-index: 1;
    position: fixed;
    bottom: 0;
    pointer-events: none;

}