doctype
html
    head
        title= title
        link(rel="stylesheet", href="css/style.css")
        script(src="https://cdn.bootcss.com/require.js/2.3.4/require.min.js")
    
    body
        header
            nav
                li abc
        .main
            != yield

        footer
            p Copyright (c) foobar
        canvas#canvas
        script(src="js/main.js")